#ZIM
import init.bcm2166x.usb.rc
import init.bt.rc
import init.log.rc

on early-init
    mkdir /efs 0771 radio system

on init
	#videocore 
	chmod 0660 /proc/vc-dnfo
	write /proc/vc-dnfo "width 480"
	write /proc/vc-dnfo "height 800"
	write /proc/vc-dnfo "scale 0"
	write /proc/vc-dnfo "swidth 480"
	write /proc/vc-dnfo "sheight 800"
	write /proc/vc-dnfo "bpp 32"
	write /proc/vc-dnfo "layer 1"
	write /proc/vc-dnfo "xdpi 217.714"
	write /proc/vc-dnfo "ydpi 207.347"
	chmod 0660 /proc/vc-omx
	write /proc/vc-omx "color 2"
	setprop brcm.graphics.async_errors true
	chmod 0660 /proc/vc-hnfo
	write /proc/vc-hnfo "resolution 0"
   
	mkdir /tmp
	mount tmpfs tmpfs /tmp
	chmod 1775 /tmp
   
    # See storage config details at http://source.android.com/tech/storage/
    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /storage/emulated 0555 root root
	mkdir /storage/sdcard1 0775 system system

    export EXTERNAL_STORAGE /storage/emulated/legacy
	export SECONDARY_STORAGE /storage/sdcard1
    export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
    export EMULATED_STORAGE_TARGET /storage/emulated

    # Support legacy paths
    symlink /storage/emulated/legacy /sdcard
    symlink /storage/emulated/legacy /mnt/sdcard
    symlink /storage/emulated/legacy /storage/sdcard0
    symlink /mnt/shell/emulated/0 /storage/emulated/legacy
	mkdir   /mnt/media_rw/sdcard1 0700 media_rw media_rw
	mkdir   /storage/sdcard1 0700 root root
	symlink /storage/sdcard1 /mnt/external_sd
   
	mkdir /preload 0771 system system
    symlink /efs /factory
	symlink /dev/block/mmcblk0p11 /dev/block/param 

	# We will create our own ril-daemon service with different perm and sockets
    stop ril-daemon	


on post-fs-data
# we will remap this as /storage/sdcard with the sdcard fuse tool
    mkdir /data/media 0770 media_rw media_rw
    chown media_rw media_rw /data/media

# SA, System SW, SAMSUNG create log directory
    mkdir /data/log 0775 system log
    chown system log /data/log
    setprop vold.post_fs_data_done 1

    chmod 0775 /data/log
    chmod 0775 /data/anr

    #for wifi
    mkdir /efs/wifi 0775 radio system
    mkdir /efs/bluetooth 0775 radio system
    mkdir /efs/imei 0775 radio system
    mkdir /data/misc/wifi 0775 wifi system
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0775 dhcp dhcp
    mkdir /system/etc/wifi 0775 wifi wifi
    chown system system /efs/wifi/.mac.info
    chmod 0664 /efs/wifi/.mac.info
    chown system system /efs/imei/.nvmac.info
    chmod 0664 /efs/imei/.nvmac.info

 # permissions for bluetooth.
    setprop ro.bt.bdaddr_path "/efs/bluetooth/bt_addr"
    chown bluetooth net_bt_stack ro.bt.bdaddr_path
#    chown bluetooth net_bt_stack /dev/ttySAC0
#    chmod 0660 /dev/ttySAC0
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/type

    # for TRP/TIS
    write /data/.psm.info 1
    chown system root /data/.psm.info
    chmod 0660 /data/.psm.info

# for control LCD backlight
#    chown system system /sys/class/backlight/hw-backlight/brightness
#    chmod 0660 /sys/class/backlight/hw-backlight/brightness
#    chown system system /sys/class/backlight/pwm-backlight/brightness
#    chmod 0660 /sys/class/backlight/pwm-backlight/brightness

    chown system system /sys/class/backlight/panel/brightness
    chmod 0660 /sys/class/backlight/panel/brightness

    chown system system /sys/class/backlight/keypad-led/brightness
    chmod 0660 /sys/class/backlight/keypad-led/brightness

    chown system system /sys/class/backlight/touchkey-led/brightness
    chmod 0660 /sys/class/backlight/touchkey-led/brightness

# permissions for sensors (accelerometer & magnetic & proximity)
    chown system system /sys/class/input/input0/enable
    chown system system /sys/class/input/input0/poll_delay
    chmod 0660 /sys/class/input/input0/enable
    chmod 0660 /sys/class/input/input0/poll_delay
    
    chown system system /sys/class/input/input1/raw_data
    chown system system /sys/class/input/input1/value
    chown system system /sys/class/input/input1/fast_calibration_x
    chown system system /sys/class/input/input1/fast_calibration_y
    chown system system /sys/class/input/input1/fast_calibration_z
    chown system system /sys/class/input/input1/eeprom_writing
    chown system system /sys/class/input/input1/mode
    chown system system /sys/class/input/input1/enable
    chown system system /sys/class/input/input1/offset_filt_x
    chown system system /sys/class/input/input1/offset_filt_y
    chown system system /sys/class/input/input1/offset_filt_z
    chown system system /sys/class/input/input1/selftest
    chown system system /sys/class/input/input1/delay
    chown system system /sys/class/input/input1/update
    chown system system /sys/class/input/input1/range
    chown system system /sys/class/input/input1/bandwidth

    chmod 0660 /sys/class/input/input1/raw_data
    chmod 0660 /sys/class/input/input1/value
    chmod 0660 /sys/class/input/input1/fast_calibration_x
    chmod 0660 /sys/class/input/input1/fast_calibration_y
    chmod 0660 /sys/class/input/input1/fast_calibration_z
    chmod 0660 /sys/class/input/input1/eeprom_writing
    chmod 0660 /sys/class/input/input1/mode
    chmod 0660 /sys/class/input/input1/enable
    chmod 0660 /sys/class/input/input1/offset_filt_x
    chmod 0660 /sys/class/input/input1/offset_filt_y
    chmod 0660 /sys/class/input/input1/offset_filt_z
    chmod 0660 /sys/class/input/input1/selftest
    chmod 0660 /sys/class/input/input1/delay
    chmod 0660 /sys/class/input/input1/update
    chmod 0660 /sys/class/input/input1/range
    chmod 0660 /sys/class/input/input1/bandwidth

    chown system system /sys/class/input/input2/chip_id
    chown system system /sys/class/input/input2/raw_data
    chown system system /sys/class/input/input2/op_mode
    chown system system /sys/class/input/input2/selftest
    chown system system /sys/class/input/input2/value
    chown system system /sys/class/input/input2/enable
    chown system system /sys/class/input/input2/delay
    chown system system /sys/class/input/input2/rept_xy
    chown system system /sys/class/input/input2/rept_z  
    chown system system /sys/class/input/input2/odr

    chmod 0660 /sys/class/input/input2/chip_id
    chmod 0660 /sys/class/input/input2/raw_data
    chmod 0660 /sys/class/input/input2/op_mode
    chmod 0660 /sys/class/input/input2/selftest
    chmod 0660 /sys/class/input/input2/value
    chmod 0660 /sys/class/input/input2/enable
    chmod 0660 /sys/class/input/input2/delay
    chmod 0660 /sys/class/input/input2/rept_xy
    chmod 0660 /sys/class/input/input2/rept_z  
    chmod 0660 /sys/class/input/input2/odr

# for adb
    chmod 0775 /system/etc/usbdev.sh
    chmod 0775 /system/etc/startadb.sh
	
	chmod 0660 /proc/vc
    chmod 0660 /proc/vc/display
    chmod 0660 /proc/vc/display/vchiq_control
    write /proc/vc/display/vchiq_control "earlysuspctrl "
    write /proc/vc/display/vchiq_control "autosuspend "

on charger
    chmod 0660 /proc/vc
    chmod 0660 /proc/vc/display
    chmod 0660 /proc/vc/display/vchiq_control
    write /proc/vc/display/vchiq_control "earlysuspctrl "
    write /proc/vc/display/vchiq_control "autosuspend "	
	
#[ SEC_MM_DRM

    # [ save OMA DB, when upgrading from GB to ICS
    mkdir /data/system/databases 0771 system system
    copy /data/data/com.sec.android.providers.drm/databases/drmdatabase.db /data/system/databases/drmdatabase.db
    chown system system /data/system/databases/drmdatabase.db
    chmod 0774 /data/system/databases/drmdatabase.db
    # ]

    # DRM directory creation
    mkdir /system/etc/security/.drm 0775
    chown root root /system/etc/security/.drm
    chmod 0775 /system/etc/security/.drm

    # Added for Playready DRM Support
    mkdir /data/data/.drm 0775
    chown drm system /data/data/.drm
    chmod 0775 /data/data/.drm
    mkdir /data/data/.drm/.playready 0775
    chown drm system /data/data/.drm/.playready
    chmod 0775 /data/data/.drm/.playready

    # TZPR 1
    mkdir /system/etc/security/.drm/ext1 0775
    chown root root /system/etc/security/.drm/ext1
    chmod 0775 /system/etc/security/.drm/ext1

    # Added drm folder to copy drm plugins
    mkdir /system/lib/drm 0775
    chown root root /system/lib/drm
    chmod 0775 /system/lib/drm

    # DivX DRM
    mkdir /efs/.files 0775
    mkdir /efs/.files/.dx1 0775
    mkdir /efs/.files/.dm33 0775
    mkdir /efs/.files/.mp301 0775
    chown media system /efs/.files/.dx1
    chown media system /efs/.files/.dm33
    chown media system /efs/.files/.mp301
    chmod 0775 /efs/.files/.dx1
    chmod 0775 /efs/.files/.dm33
    chmod 0775 /efs/.files/.mp301
#]

on boot
# SISO-ANDR_PERF :: START Changing scheduler to noop during boot
    write /sys/block/mmcblk0/queue/scheduler noop
# SISO-ANDR_PERF :: END

    setprop ro.build.product hawaii
    setprop ro.product.device hawaii
    # setprop ro.radio.noril yes

    chown system system /sys/devices/platform/panel/backlight/panel/brightness
    mount debugfs /sys/kernel/debug /sys/kernel/debug

## mobicore
#    mkdir /data/app/mcRegistry 0775 system system    
#    chmod 0660 /dev/mobicore
#    chown radio system /dev/mobicore

# WIFI
    setprop wifi.interface wlan0

    symlink /dev/block/mmcblk0p11 /dev/block/param

# <Sensors & NFC>
# Accelerometer_sensor
    chown system radio /dev/accelerometer
    chown system radio /sys/class/sensors/accelerometer_sensor
    chown system radio /sys/class/sensors/accelerometer_sensor/raw_data
    chown system radio /sys/class/sensors/accelerometer_sensor/calibration
    chown system radio /sys/class/sensors/accelerometer_sensor/reactive_alert
    chown system radio /sys/class/sensors/accelerometer_sensor/vendor
    chown system radio /sys/class/sensors/accelerometer_sensor/name
# Proximity_sensor
    chown system radio /sys/class/sensors/proximity_sensor/state
    chown system radio /sys/class/sensors/proximity_sensor/prox_avg
    chown system radio /sys/class/sensors/proximity_sensor/prox_cal
    chown system radio /sys/class/sensors/proximity_sensor/vendor
    chown system radio /sys/class/sensors/proximity_sensor/name
    chown system radio /sys/class/sensors/proximity_sensor/prox_thresh
# Magnetic_sensor
    chown system radio /dev/akm8975
    chown system radio /sys/class/sensors/magnetic_sensor/raw_data
    chown system radio /sys/class/sensors/magnetic_sensor/adc
    chown system radio /sys/class/sensors/magnetic_sensor/dac
    chown system radio /sys/class/sensors/magnetic_sensor/selftest
    chown system radio /sys/class/sensors/magnetic_sensor/power_on
    chown system radio /sys/class/sensors/magnetic_sensor/status
    chown system radio /sys/class/sensors/magnetic_sensor/op_mode    
    chown system radio /sys/class/sensors/magnetic_sensor/chip_id
    chmod 0660 /sys/class/sensors/magnetic_sensor/selftest
    chmod 0660 /sys/class/sensors/magnetic_sensor/op_mode
	
# permissions for NFC - BRCM
    setprop ro.nfc.port "I2C"
    chmod 0666 /dev/bcm2079x
    chown nfc nfc /dev/bcm2079x
    mkdir /data/bcmnfc
    mkdir /data/bcmnfc/param
    chmod 0755 /data/bcmnfc
    chmod 0755 /data/bcmnfc/param
    chown nfc nfc /data/bcmnfc
    chown nfc nfc /data/bcmnfc/param

## Vibetonz
#    chmod 0660 /dev/tspdrv
#    chown root shell /dev/tspdrv

# required so RIL can open kernel RPC drivers
    chmod 0660 /dev/bcm_rpc
    chmod 0660 /dev/bcm_irpc
    chown radio radio /dev/bcm_rpc
    chown radio radio /dev/bcm_irpc

    chmod 0660 /dev/bcm_atc
    chown shell system /dev/bcm_atc
    mkdir /data/atx
    chown system system /data/atx
    chmod 0771 /data/atx
    chown system system /dev/bcm_log
    chmod 0660 /dev/bcm_log
    chown system system /dev/bcm_audio_log
    chmod 0660 /dev/bcm_audio_log
    chown system system /dev/ttyGS0
    chown system system /dev/ttyGS2
    chown system system /dev/ttyS0
    chown system system /dev/ttyS2
    chmod 0666 /dev/ttyS2

# GPS UART
    chown system system /dev/ttyS1
    chmod 0660 /dev/ttyS1

    chown system system /proc/bcm_fuse_net_config

# Video Telephony
    chmod 0666 /dev/bcm_vsp


# allow user space (atx) access to kernel pm debug
    chown system system /sys/module/pm_dbg/parameters/debug
    chmod 0660 /sys/module/pm_dbg/parameters/debug
    chown system system /sys/module/bcmpmu59xxx_ponkey/parameters/simulate_ponkey
    chmod 0660 /sys/module/bcmpmu59xxx_ponkey/parameters/simulate_ponkey

# BEGIN BCM QUICK BOOT FEATURE
    chown root system /sys/ponkey/ponkey_mode
    chmod 0664 /sys/ponkey/ponkey_mode
# END BCM QUICK BOOT FEATURE


#security driver
    chmod 0660 /dev/bcm_security
    chown radio root /dev/bcm_security
    mkdir /data/sec 0770
    chown radio root /data/sec

# BCMPMU drivers
    chown -R system system /sys/devices/platform/bcmpmu*