import init.bcm2166x.usb.rc
import init.log.rc

on early-init
    mkdir /efs 0771 radio system

on init
    # See storage config details at http://source.android.com/tech/storage/
    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /storage/emulated 0555 root root
	mkdir /storage/sdcard1 0775 system system

    export EXTERNAL_STORAGE /storage/emulated/legacy
	export SECONDARY_STORAGE /storage/sdcard1
    export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
    export EMULATED_STORAGE_TARGET /storage/emulated

    # for backwards compatibility
    symlink /storage/emulated/legacy /sdcard
    symlink /storage/emulated/legacy /mnt/sdcard
    symlink /storage/emulated/legacy /storage/sdcard0
    symlink /mnt/shell/emulated/0 /storage/emulated/legacy
	mkdir /mnt/media_rw/sdcard1 0700 media_rw media_rw
    mkdir /storage/sdcard1 0700 root root
    symlink /storage/sdcard1 /external_sd
    symlink /storage/sdcard1 /mnt/external_sd

# To store widevine keybox
    symlink /dev/block/mmcblk0p11 /dev/block/param
    mkdir /preload 0771 system system 


on post-fs-data
# we will remap this as /storage/sdcard with the sdcard fuse tool
    mkdir /data/media 0770 media_rw media_rw
    chown media_rw media_rw /data/media

# SA, System SW, SAMSUNG create log directory
    mkdir /data/log 0775 system log
    chown system log /data/log
    setprop vold.post_fs_data_done 1

    chmod 0775 /data/log
    chmod 0775 /data/anr

on boot
    setprop ro.build.product hawaii
    setprop ro.product.device hawaii
    # setprop ro.radio.noril yes

    chown system system /sys/devices/platform/panel/backlight/panel/brightness
    mount debugfs /sys/kernel/debug /sys/kernel/debug

# WIFI
    setprop wifi.interface wlan0
	symlink /dev/block/mmcblk0p11 /dev/block/param

# GPS UART
    chown system system /dev/ttyS1
    chmod 0660 /dev/ttyS1

# phone
    setprop ro.telephony.call_ring.multiple 0

# Enable dithering algorithm
    setprop fb.force.dithering 1
    setprop ro.multisim.simslotcount 2
    
on fs
    mount_all /fstab.hawaii_ss_logan
    setprop ro.crypto.fuse_sdcard true
    setprop keyguard.no_require_sim 1

#exFAT module
    insmod /system/lib/modules/exfat_core.ko
    insmod /system/lib/modules/exfat_fs.ko

	# For NV Read/Write 
	chown radio system /dev/block/mmcblk0p1    
	chmod 0770 /dev/block/mmcblk0p1
	chmod 6755 /system/xbin/su

    #for touch fw
    chown system system /sys/class/sec/tsp/cmd
    chmod 0660 /sys/class/sec/tsp/cmd
    chown system system /sys/class/sec/tsp/cmd_status
    chmod 0660 /sys/class/sec/tsp/cmd_status
    chown system system /sys/class/sec/tsp/cmd_result
    chmod 0660 /sys/class/sec/tsp/cmd_result

    chown system system /sys/class/sec/sec_touchscreen/tsp_firm_version_phone
    chmod 0660 /sys/class/sec/sec_touchscreen/tsp_firm_version_phone
    chown system system /sys/class/sec/sec_touchscreen/tsp_firm_version_panel
    chmod 0660 /sys/class/sec/sec_touchscreen/tsp_firm_version_panel
    chown system system /sys/class/sec/sec_touchscreen/tsp_firm_update
    chmod 0660 /sys/class/sec/sec_touchscreen/tsp_firm_update
    chown system system /sys/class/sec/sec_touchscreen/tsp_firm_update_status
    chmod 0660 /sys/class/sec/sec_touchscreen/tsp_firm_update_status
    chown system system /sys/class/sec/sec_touchscreen/tsp_threshold
    chmod 0660 /sys/class/sec/sec_touchscreen/tsp_threshold
    chown system system /sys/class/sec/sec_touchscreen/touchkey_menu
    chmod 0660 /sys/class/sec/sec_touchscreen/touchkey_menu
    chown system system /sys/class/sec/sec_touchscreen/touchkey_home
    chmod 0660 /sys/class/sec/sec_touchscreen/touchkey_home
    chown system system /sys/class/sec/sec_touchscreen/touchkey_back
    chmod 0660 /sys/class/sec/sec_touchscreen/touchkey_back
    
	# cpu freq
	chown media root /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
	chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor

	# make directory for storing sales code
	mkdir /efs/imei 0775 radio system 

on post-fs
    chown radio system /efs
    chmod 0771 /efs

on property:persist.sys.storage_preload=1
    mount ext4 /dev/block/mmcblk0p18 /preload nosuid nodev noatime wait ro
    setprop storage.preload.complete 1

on property:persist.sys.storage_preload=0
    exec /system/bin/umount /preload   

on property:ro.debuggable=1
    start console

# create filesystem if necessary
service setup_fs /system/bin/setup_fs \
            /dev/block/mmcblk0p15 \
            /dev/block/mmcblk0p11
    class core
    user root
    group root
    oneshot

#at_distributor for making file for factory.
service at_distributor /system/bin/at_distributor
	class main
	user root
	group radio misc log

# RILD
service ril-daemon /system/bin/rild
    class main
    socket rild stream 660 root radio
    socket rild1 stream 660 root radio
    socket rild-debug stream 660 radio system
    user root
    group radio cache inet misc audio system sdcard_rw log sdcard_r
#    onrestart restart cpboot-daemon

# create virtual SD card at /mnt/sdcard, based on the /data/media directory
# daemon will drop to user/group system/media_rw after initializing
# underlying files in /data/media will be created with user and group media_rw (1023)
service sdcard /system/bin/sdcard /data/media /mnt/shell/emulated 1023 1023
    class late_start
	disabled
    oneshot

service macloader /system/bin/macloader
	class main
	oneshot

on property:init.svc.macloader=stopped
    chown system root /data/.cid.info
    chmod 0664 /data/.cid.info
    chown system root /data/.rev
    chmod 0660 /data/.rev

# Run ATX over UART
service console /system/bin/atx -l -d
    class main
    console
#    oneshot
    user system
    group vpn net_admin net_raw radio system sdcard_rw log mount

# Run bkmgrd automatically on startup
service bkmgrd /system/bin/bkmgrd
    class main
    oneshot
    user root
    group radio system log

#Indicate boot complete to PM to complete PM initialization
on property:dev.bootcomplete=1
	write /sys/module/pwr_mgr/parameters/pm_late_init 1
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
	chown system system /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq
	chown system system /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load
	chown system system /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay
	chown system system /sys/devices/system/cpu/cpufreq/interactive/min_sample_time
	chown system system /sys/devices/system/cpu/cpufreq/interactive/timer_rate
	chown system system /sys/devices/system/cpu/cpufreq/interactive/boostpulse
	chmod 660 /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq
	chmod 660 /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load
	chmod 660 /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay
	chmod 660 /sys/devices/system/cpu/cpufreq/interactive/min_sample_time
	chmod 660 /sys/devices/system/cpu/cpufreq/interactive/timer_rate
	chmod 220 /sys/devices/system/cpu/cpufreq/interactive/boostpulse
	write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 666666
	write /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load 70
	write /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay 6000
	write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 15000
	write /sys/devices/system/cpu/cpufreq/interactive/timer_rate 2000

service battery_charger /charger
    class charger
